@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

.section{
    margin-bottom: 108px;
    margin-left: 20px;
}

.title{
    font-family: 'Pangolin', cursive;
    font-weight: 400;
    font-size: 28px;

    display: inline-block;

    border-bottom: 4px solid #3A8DA8;
}

.container{
    margin-left: 50px;
    display: flex;
    gap: 100px;
}